@import url("colors.css");

* {
    font-family: "SauceCodeProNF", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
	background-color: @background;
}

.modules-left,
.modules-center,
.modules-right
{
	color: @foreground;
	margin: 2px 4px;
    padding: 0px 10px;
    border-radius: 8px;
}

#custom-arch {
    margin-right: 6px;
	font-size: 16px;
    transition: color .5s;
}

#custom-arch:hover {
    color: #1793d1;
}
